<phpunit
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false"
    bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="Automate">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="coverage" />
    </logging>

    <filter>
        <whitelist>
            <directory>src/Automate</directory>
            <exclude>
                <directory>src/Automate/Resources</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>